{% extends "layout.html" %}
{% block content %}

    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-4 col-xlg-3 col-md-5">
            <div class="card">
                <div class="card-body">
                    <center class="m-t-30"> <img id="profile_pic" src="{{rest_link}}/doctors/{{doctor_data['id']}}/pic" class="rounded-circle" width="150">
                        <h4 class="card-title m-t-10">{{doctor_data['name']}} {{doctor_data['surname']}}</h4>
                        <h6 class="card-subtitle">{{ doctor_data['specialization'] }}</h6>
                        <div class="row text-center justify-content-md-center">
                            <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-people"></i> <font class="font-medium">254</font></a></div>
                            <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-picture"></i> <font class="font-medium">54</font></a></div>
                        </div>
                    </center>
                </div>
                <div>
                    <hr> </div>
                <div class="card-body">
                    <small class="text-muted">About</small>
                    <h6>{{doctor_data['about']}}</h6> 
                    <small class="text-muted">Email address </small>
                    <h6>{{doctor_data['email']}}</h6>
                    <small class="text-muted">Gender </small>
                    <h6>{{doctor_data['gender']}}</h6> 
                    <small class="text-muted p-t-30 db">Phone</small>
                    <h6>{{doctor_data['phone']}}</h6> 
                    <small class="text-muted p-t-30 db">Address</small>
                    <h6>{{adress}}</h6><small class="text-muted">Username</small>
                    <h6>{{doctor_data['username']}}</h6>
                    <small class="text-muted">Signup Date </small>
                    <h6>{{time_con(doctor_data['signup_date'])}}</h6>
                    <small class="text-muted">Experience</small>
                    <h6>{{doctor_data['experience']}}</h6>
                    <small class="text-muted">Pmdc Verified</small>
                    <h6>{{doctor_data['pmdc_verified']}}</h6>
                    <small class="text-muted">Pmdc Registry Number</small>
                    <h6>{{doctor_data['pmdc_reg_num']}}</h6>
                    <small class="text-muted">Verification Status</small>
                    <h6>{{doctor_data['verification_status']}}</h6>
                    <br>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-8 col-xlg-9 col-md-7">
            <div class="card">
                <div class="card-body">
                    <form class="form-horizontal form-material" method="POST" action="" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-md-12">Full Name</label>
                            <div class="col-md-12">
                                <input type="text" placeholder="Johnathan Doe" class="form-control form-control-line" name="name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12">Surname</label>
                            <div class="col-md-12">
                                <input type="text" placeholder="Johnathan Doe" class="form-control form-control-line" name="surname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="example-email" class="col-md-12">Email</label>
                            <div class="col-md-12">
                                <input type="email" placeholder="johnathan@admin.com" class="form-control form-control-line" name="email" id="example-email">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">Phone No</label>
                            <div class="col-md-12">
                                <input type="text" placeholder="123 456 7890" class="form-control form-control-line" name="phone">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">Experience</label>
                            <div class="col-md-12">
                                <input type="text" placeholder="2 years" class="form-control form-control-line" name="experience">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">specialization</label>
                            <div class="col-md-12">
                                <input type="text" placeholder="MBBS" class="form-control form-control-line" name="specialization">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-12">About</label>
                            <div class="col-md-12">
                                <textarea rows="5" class="form-control form-control-line" style="height: 161px;" name="about"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-12">Gender</label>
                            <div class="col-sm-12">
                                <select class="form-control form-control-line" name="gender">
                                    <option disabled selected value> -- select an option -- </option>
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-12">Verification</label>
                            <div class="col-sm-12">
                                <select class="form-control form-control-line" name="verification_status">
                                    <option disabled selected value> -- select an option -- </option>
                                    <option>Verified</option>
                                    <option>Pending</option>
                                    <option>Rejected</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="submit" class="btn btn-success" value="Update profile">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
    <script>
    $('#profile_pic').on("error", function() {
  $(this).attr('src', "{{url_for('static', filename='assets/images/users/4.jpg')}}");
});
    </script>
    <!-- Row -->
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->


{% endblock content %}