{% extends "layout.html" %}
{% block content %}

<div class="row">
    <div class="col-12">
    <div class="card shadow-sm">
        <div class="card-body">
            <h4 class="card-title">Document List</h4>
        </div>
<div class="comment-widgets">
    <!-- Comment Row -->
    {% for d in document_list %}
    <a href="{{ url_for('document', document_id=d['id'], doctor_id=d['owner']) }}">
    <div class="d-flex flex-row comment-row mt-0">
        <div class="p-2"><img src="{{url_for('static', filename='assets/images/users/1.jpg')}}" alt="user" width="50" class="rounded-circle"></div>
        <div class="comment-text w-100">
            <h6 class="font-medium">{{ d['title'] }} {{ d['document_type'] }}</h6>
            <span class="mb-3 d-block">{{ d['description'] }} </span>
            <div class="comment-footer">
                <span class="text-muted float-right">{{ time_con(d['issued_date']) }}</span> <span class="label label-rounded label-primary">{{ d['verification_status'] }}</span>
                <span class="action-icons active">
                    <a href="{{ url_for('doctor', doctor_id=d['owner']) }}"><span class="label label-rounded label-danger"><i class="mdi mdi-account"></i> <span>{{ d['owner_name'] }}</span></span></a>    
                </span> 
            </div>
        </div>
    </div>
    </a>
    {% endfor %}
</div>
</div>
</div>
</div>

{% endblock content %}