{% extends "layout.html" %}
{% block content %}

<div class="row">
    <div class="col-12">
    <div class="card shadow-sm">
        <div class="card-body">
            <h4 class="card-title">Patient List</h4>
        </div>
<div class="comment-widgets">
    <!-- Comment Row -->
    {% for p in patient_list %}
    <a href="{{ url_for('patient', patient_id=p['id']) }}">
    <div class="d-flex flex-row comment-row mt-0">
        <div class="p-2"><img src="{{url_for('static', filename='assets/images/users/1.jpg')}}" alt="user" width="50" class="rounded-circle"></div>
        <div class="comment-text w-100">
            <h6 class="font-medium">{{ p['name'] }}</h6>
            <span class="mb-3 d-block">{{ p['surname'] }} </span>
            <div class="comment-footer">
                <span class="text-muted float-right">{{ time_con(p['signup_date']) }}</span> <span class="label label-rounded label-primary">{{ p['gender'] }}</span> 
            </div>
        </div>
    </div>
    </a>
    {% endfor %}
</div>
</div>
</div>
</div>

{% endblock content %}